body {
    background-image: url(../img/imafondo.jpg) !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;   
 }  
main {
    width: auto !important;
    justify-content:space-evenly !important;
    color: bisque !important;
}

header {
    background-image: linear-gradient( to bottom, rgb(255, 238, 0) ,rgb(59, 59, 69));
}

@media (max-width:768px) {
    .fila{
        width: 100% !important;
        text-align: center;
    }

}

@media (max-width: 576px) {
    .img-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}